:root {
    --color-accent: #2e51a2;
    --color-accent-light: #3864c8;
    --color-accent-lighter: #4277ee;
    --color-background: #121212;
    --color-background-footer: #212121;
    --color-border: #2e2e2e;
    --color-card: #1e1e1e;
    --color-card-lighter: #3e3e3e;
    --color-light: #ffffff;
    --color-watched: #26392a;
    --color-watched-hover: #344838;
    --color-watched-border: #3a493e;
    --color-watched-button: #4fc967;
    --color-watched-button-hover: #3f5545;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid red; */
}

html, body,
h1, h2, h3, h4, h5, h6,
p, button, form, ul, li{
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}


a {
    text-decoration: none;
    color: currentColor;
}

.site-container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* ------------------------------------------ */
/*                   Header                   */
/* ------------------------------------------ */

.header {
    background-color: var(--color-accent);
    color: var(--color-light);
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header > h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
}

.nav {
    display: flex;
    align-items: center;
}

.user-container {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 2rem;
    transition: 0.1s;
}

#userName {
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

#userImage {
    background-color: darkgrey;
    background-image: url(https://i.imgur.com/gcaYoGM.png);
    background-size: cover;
    background-position: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/* ------------------------------------------ */
/*                    Main                    */
/* ------------------------------------------ */

.main {
    background-color: var(--color-background);
    color: var(--color-light);
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
}

/* ------------------------------------------ */
/*               New Entry Form               */
/* ------------------------------------------ */


#newEntryOverlay.visibility-hidden,
#newEntryButton.visibility-hidden,
.form-container.visibility-hidden {
    visibility: hidden;
    opacity: 0;  
    transition: opacity 0.25s ease, visibility 0s ease 0.25s;
}

#newEntryOverlay,
.form-container {
    position: fixed;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s ease, visibility 0s ease 0s;
    width: 100vw;
    height: 100vh;
    z-index: 10;

}

#newEntryOverlay {
    background-color: black;
    opacity: 0.5;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

#newEntryForm {
    background-color: var(--color-card);
    width: 400px;
    height: 500px;
    z-index: 11;
    box-shadow: 2px 2px 4px black;
    border-radius: 1rem;
    overflow: hidden;
}

.form-header {
    border-bottom: 1px solid var(--color-border);
    padding: 0.5rem 1rem;
    font-size: 1.1rem ;
    font-weight: 600;
    text-align: center;
    position: relative;
}

.form-header svg {
    position: absolute;
    height: 1.5rem;
    top: 0.4rem;
    right: 0.6rem;
}

.form-header svg:hover {
    color: lightgrey;
}

.form-header svg:active {
    color: darkgrey;
}

#newEntryForm > ul {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto) 1fr;
    padding: 2rem;
    gap: 1.25rem;
}

.input-item {
    display: flex;
    flex-direction: column;
}

.input-item > label {
    margin-bottom: 0.25rem;
}

.input-item > input:required + label::after {
    content: ' *';
    color: red;
}

.input-item > input.touched:invalid + label {
    color: red;
}

.input-item > input {
    order: 1;
    height: 2rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 0 0.5rem;
} 

.input-item > input:focus {
    border: 3px solid var(--color-accent-lighter);
} 

.input-item > input.touched:invalid {
    border: 1px solid red;
} 

.input-item > input.touched:invalid:focus {
    border: 3px solid red;
} 

#input1, #input2, #input5,
.submit {
    grid-column: 1 / -1;
}

#newEntryEpisodes {
    width: 5rem;
}

.submit {
    justify-self: center;
    align-self: end;
    margin-bottom: 2rem;
}

/* ------------------------------------------ */
/*                    Cards                   */
/* ------------------------------------------ */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 450px;
    gap: 1.5rem 1rem;
    justify-content: center;
    padding: 3rem 1vw;
}

.card {
    background-color: var(--color-card);
    display: grid;
    grid-template-rows: 4fr auto auto auto;
    box-shadow: 2px 2px 4px black;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center; 
    transition: 0.1s;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 0 1px var(--color-border),2px 2px 4px black;
}

.card.watched:hover {
    box-shadow: 0 0 0 1px var(--color-watched-border),2px 2px 4px black;
}

.card.watched {
    background-color: var(--color-watched);
}

.poster,
.title,
.studio {
    border-bottom: 1px solid var(--color-border);
    padding: 0.25rem 1rem;
}

.card.watched .poster,
.card.watched .title,
.card.watched .studio {
    border-bottom: 1px solid var(--color-watched-border);
}

.poster {
    background-color: grey;
    background-size: cover;
    background-position: center;
    justify-self: stretch;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.studio {
    font-weight: 400;
}

.card-bottom {
    display: flex;
}

.watched-button,
.remove-button {
    height: 2rem;
    width: 2rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    background: none;
    border: none;
    fill: var(--color-border);  
    transition: 0.1s;
}

.watched-button svg,
.remove-button svg{
    height: 1.5rem;
    width: 1.5rem;
}

.card.hover .watched-button,
.card.hover .remove-button {
    fill: var(--color-light);    
}

.card.hover .watched-button:hover,
.card.hover .remove-button:hover {
    background: var(--color-card-lighter);
}

.card.hover .watched-button:active,
.card.hover .remove-button:active {
    background: var(--color-border);
}

.card.watched .watched-button,
.card.watched .remove-button {
    fill: var(--color-watched-border);    
}


.card.watched.hover .watched-button,
.card.watched.hover .remove-button {
    fill: var(--color-watched-button);
}

.card.watched.hover .watched-button:hover,
.card.watched.hover .remove-button:hover {
    background: var(--color-watched-button-hover);
}

.card.watched.hover .watched-button:active,
.card.watched.hover .remove-button:active {
    background: var(--color-watched-border);
}

.episodes {
    flex: 1;
    font-size: 0.9rem;
    font-weight: 300; 
    padding: 0.25rem 0; 
}

.button {
    background-color: var(--color-accent);
    color: var(--color-light);
    width: 9rem;
    height: 3.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    z-index: 2;
}

.user-container:hover,
.button:hover {
    background-color: var(--color-accent-light);
}

.user-container:active,
.button:active {
    background-color: var(--color-accent-lighter);
}

#newEntryButton.button {
    margin-bottom: 2rem;
    justify-self: center;
    position: sticky;
    bottom: 2rem;
    box-shadow: 3px 3px 3px var(--color-background);
    transition: 0.1s;
}

.gradient {
    position: sticky;
    bottom: 0;
    box-shadow: 0 0 3rem 3rem var(--color-background);
}

/* ------------------------------------------ */
/*                   Footer                   */
/* ------------------------------------------ */

.footer {
    padding: 0.5rem;
    background-color: var(--color-background-footer);
    color: var(--color-light);
    text-align: center;
    z-index: 2;
}

.svg-icon {
    display: inline-block;
    vertical-align: bottom;
    fill: currentColor;
    height: 2rem;
}

.copyright svg:hover {
    transition: 0.15s;
    fill: darkgrey;
}

.credits {
    color: var(--color-light);
    font-size: 0.8rem;
    color: gray;
}

.credits a {
    transition: 0.1s;
}

.credits a:hover {
    color: darkgrey;
}

.copyright {
    line-height: 2rem;
}