:root {
    --color-accent: #2e51a2;
    --color-accent-light: #3864c8;
    --color-accent-lighter: #4277ee;
    --color-background: #121212;
    --color-background-lighter: #212121;
    --color-border: #353535;
    --color-card: #1e1e1e;
    --color-light: #ffffff;
    --color-watched: #26392a;
    --color-watched-border: #3a493e;
    --color-watched-light: #45a758;
    --color-watched-lighter: #4fc967;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid red; */
}

html, body,
h1, h2, h3, h4, h5, h6,
p, button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

.site-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    background-color: var(--color-accent);
    color: var(--color-light);
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header > h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#userName {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    transition: 0.1s;
}

#userImage {
    background-color: darkgrey;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.main {
    background-color: var(--color-background);
    color: var(--color-light);
    display: grid;
    grid-template-rows: 1fr auto auto;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 400px;
    gap: 1.5rem 1rem;
    justify-content: center;
    padding: 3rem 1vw;
}

.card {
    background-color: var(--color-card);
    display: grid;
    grid-template-rows: 4fr auto auto auto;
    box-shadow: 2px 2px 4px black;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center; 
}

.card.watched {
    background-color: var(--color-watched);
}

.poster,
.title,
.studio {
    border-bottom: 1px solid var(--color-border);
    padding: 0.25rem 1rem;
}

.card.watched .poster,
.card.watched .title,
.card.watched .studio {
    border-bottom: 1px solid var(--color-watched-border);
}

.poster {
    background-color: grey;
    justify-self: stretch;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.studio {
    font-weight: 400;
}

.card-bottom {
    display: flex;
    padding: 0.25rem;
}

.watched-button,
.remove-button {
    height: 1.5em;
    width: 1.5rem;
    margin: 0 0.5rem;
    background: none;
    border: none;
    fill: var(--color-light);    
    position: relative;
    bottom: 0.15rem;
}

.card.watched .watched-button {
    fill: var(--color-watched-lighter);
}

.card.watched .watched-button:hover {
    fill: var(--color-watched-light);
}

.watched-button:hover,
.remove-button:hover {
    fill: lightgrey;
}

.watched-button:active,
.remove-button:active {
    fill: darkgrey;
}

.episodes {
    flex: 1;
    font-size: 0.9rem;
    font-weight: 300;  
}

.button {
    background-color: var(--color-accent);
    color: var(--color-light);
    width: 9rem;
    height: 3.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    z-index: 2;
    transition: 0.1s;
}

#userName:hover,
.button:hover {
    background-color: var(--color-accent-light);
}

#userName:active,
.button:active {
    background-color: var(--color-accent-lighter);
}

#newEntryButton.button {
    margin-bottom: 2rem;
    justify-self: center;
    position: sticky;
    bottom: 2rem;
}

.gradient {
    position: sticky;
    bottom: 0;
    box-shadow: 0 0 3rem 3rem var(--color-background);
}

.footer {
    padding: 0.5rem;
    background-color: var(--color-background-lighter);
    color: var(--color-light);
    text-align: center;
    z-index: 2;
}

.svg-icon {
    display: inline-block;
    vertical-align: bottom;
    fill: currentColor;
    height: 2rem;

}

.copyright svg:hover {
    transition: 0.15s;
    fill: darkgrey;
}

.credits {
    color: var(--color-light);
    font-size: 0.8rem;
    color: gray;
}

.copyright {
    line-height: 2rem;
}